body {
  background-color: #f5f5f5;
}

/*--------------Start Section One (Header)-------------*/
/*--------------Navbar-------------*/
.navbar {
  font-weight: 600;
  background-color: #4D9EF2;
  z-index: 5;
}

.navbar-toggler {
  background-color: white !important;
  padding: 0;
}

/*--------------DropDown-------------*/
.navbar .logo {
  font-size: 28px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
}

.dropdown-item i {
  padding-left: 20px;
  font-size: 10px;
}

/*--------------Links-------------*/
.link {
  font-weight: 600;
  font-size: 14px;
  transition: all 0.5s;
  color: #27292c;
}

.link:hover {
  color: #007aff;
  background-color: transparent;
}

.line::after {
  content: "";
  background-color: white;
  width: 40px;
  height: 2px;
  position: absolute;
  top: 80%;
  left: 20px;
}

.extra::after {
  width: 70px;
}

.hide::after {
  visibility: hidden;
  left: 0;
  transition: all 0.3s ease-in-out 0s;
}

.hide:hover.hide::after {
  visibility: visible;
  left: 20px;
}
/*--------------Header-------------*/
header {
height: 55%;
}


header .image {
  background-image: url(../image/overlay-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header .overlay {
  background-color: #007aff;
  opacity: 0.7;
}

/* -----------Caption-------------   */
.caption .name {
  font-weight: 600;
  font-size: 56px;
  line-height: 86px;
}

header .caption .link {
  color: #cde1f8;
}

/* ------------End Section One  (Header)------------ */

/* -------------Start Section two  (blog)------------- */
#blog .left .card {
  border: none;
}

#blog .card-body h2 {
  font-weight: 500;
  font-size: 30px;
  color: #1e1e1e;
}

#blog .left .card .card-body .special,
#blog .left .card .card-body ul {
  border-left: #0078ff solid 5px;
}

#blog .left .card .card-body ul li a {
  color: #0078ff;
}

.card-text {
  color: #4e4e4e;
}
#blog .left .card .card-body .special{
  color:#4e4e4e;
  font-size: 20px;
  font-style: italic;
}

#blog .right .card h3 {
  border-left: #0078ff solid 5px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#blog .right .card form input {
  border-radius: 0;
}

#blog .right .card form button {
  padding: 10px 20px;
  border-radius: 0;
}

#blog .right .card ul .line {
  position: relative;
}

#blog .right .card ul .line::before {
  content: "";
  position: absolute;
  right: 106%;
  top: 28%;
  background-color: #007aff;
  width: 13px;
  height: 1px;
}

#blog .right .card ul li a {
  color: black;
  transition: all 0.5s;
}

#blog .right .card ul li a:hover {
  color: #0078ff;
}


#blog .right .card-3 ul li  {
  background-color: #007aff;
  padding: 4px 9px !important;
  border-radius: 15px;
  text-align: match-parent;
}
/* -comment */
#blog .left .text-2,
#blog .left .text-2 {
  font-weight: 500;
  font-size: 32px;
  color: #1e1e1e;
}

#blog .left .text-2::after,
#blog .left .text-2::after {
  content: "";
  background-color: #007aff;
  width: 110px;
  height: 3px;
  position: absolute;
  top: 110%;
  left: 0;
}

#blog .left .pic {
  width: 80px;
}

#blog .left .text {
  vertical-align: top;
}

#blog .left .text h4 {
  font-weight: 500;
  font-size: 24px;
  color: #1e1e1e;
}

#blog .left .text span {
font-style: italic;
}

#blog .left .text p {
  color: #4e4e4e
  ;
}
/* form */
#blog button {
  border-radius: 30px;
transition: all;;
}

#blog button:hover {
  box-shadow: 0 0 12px #cde1f8;
}
/* -------------End Section two  (blog)------------- */

/* ------------Start Section five (footer)------------ */
footer {
  background-color: #0062D3;
}

footer span {
  font-weight: bolder;
}

footer p {
  line-height: 1.8;
}


/* ------------End Section five (footer)------------ */

/*---------Media Query ------------*/

@media screen and (max-width:568px) {

  .right .card {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .srarch{
    width: 75%;
  }

   /* --------Footer---------- */
  footer .content {
    width: 100% !important;
  }
}

@media screen and (min-width:569px) and (max-width:768px) {

  #blog .right .card {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .srarch{
    width: 75%;
  }

     /* --------Footer---------- */
  footer .content {
      width: 100% !important;
}
}

@media screen and (min-width:769px) and (max-width:992px) {
  #blog .right .card {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .srarch{
    width: 50%;
  }

       /* --------Footer---------- */
  footer .content {
    width: 50% !important;
  }
}